.Menu.fa {
    font-size: 25px;
}

.Menu--list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0;

    width: 150px;

    background: #373A47;
    padding: 40px;
    height: 100%;
}

.Menu--list .menu-item {
    display: block;
}

.Menu--list--close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}

.Menu--shadow {
    position: absolute;
    left: 230px;
    top: 0px;
    width: calc(100% - 230px);
    height: 100%;
}